


h1{
    margin-left: 38px;
    margin-top: 71px;
}
p {
    font-size: 19px;
    margin-left: 38px;
}

.color1 { color: #d34343;}
.color2 { color: #e5980b;}
.color3 { color: #e5ca0b;}
.color4 { color: #90bc0a;}
.color5 { color: #31ae91;}
.color6 { color: #0a0a0a;}
.color7 { color: #2b739d;}
.color8 { color: #372b9d;}
.color9 { color: #8929c4;}
.color10{ color: #c229c4;}
.color11{ color: #ce2189;}
.color12{ color: #2b8d9d;}
.color13{ color: #e31923;}



